# Titanic
## Ejercicio final, anàlisis de un conjunto de datos.

In [3]:
import pandas as pd

1. Descripción del conjunto de datos: número de observaciones, que características (columnas) tenemos? Muestra las 5 primeras filas
2. Mostrar la probabilidad de supervivencia por sexo
3. Cuantas clases había? Mostrar la probabilidad de supervivencia por clase
4. Rellenar con la media de la clase las edades faltantes
5. Con el resultado anterior dibuja un histograma de las edades del barco.
6. Crea una nueva columna de datos que sea el resultado de sumar SibSp y Parch. Elimina la columna PassengerId.
7. exite alguna relación entre la Clase y el precio
8.
9.
10.

**Extra**

11. En base a las columnas: Clase, Edad y Sexo podrias intentar realizar una clasificación.

In [5]:
# carga de datos

df = pd.read_csv("train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S